#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ChatGPT
# user-data-dir to isolate the chrome profile
# app to load a specific website inside the minimal app window
Exec=/opt/google/chrome/google-chrome --user-data-dir=".local/share/chrome-apps/chatgpt-chrome" --app="https://chatgpt.com/"
Icon=chatgpt
StartupWMClass=chrome_chatgpt
Categories=Development;X-XFCE;X-Xfce-Toplevel;
MimeType=x-scheme-handler/codex;
