#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
NoDisplay=true
Name=Chromium Web Browser
GenericName=Web Browser
Comment=Access the Internet
Exec=chromium-browser %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
StartupNotify=true
Actions=NewWindow;Incognito;TempProfile;
X-AppInstall-Package=chromium-browser

[Desktop Action NewWindow]
Name=Open a New Window
Exec=chromium-browser

[Desktop Action Incognito]
Name=Open a New Window in incognito mode
Exec=chromium-browser --incognito

[Desktop Action TempProfile]
Name=Open a New Window with a temporary profile
Exec=chromium-browser --temp-profile
