[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Claude
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=fmpnliohjhemenmnlpbfagaolkdacoja
Icon=/home/patrick/.local/share/icons/hicolor/512x512/apps/chrome-fmpnliohjhemenmnlpbfagaolkdacoja-Default.png
StartupWMClass=crx_fmpnliohjhemenmnlpbfagaolkdacoja
