.org.chromium.*
Backups
blob_storage
Cache
CachedConfigurations
CachedData
CachedExtensions
CachedExtensionVSIXs
CachedProfilesData
Code Cache
code.lock
Cookies
Cookies-journal
Crashpad
databases
DawnCache
DawnGraphiteCache
DawnWebGPUCache
Dictionaries
GPUCache
IndexedDB
languagepacks.json
Local Storage
logs
machineid
Network Persistent State
Preferences
Service Worker
Session Storage
Shared Dictionary
shared_proto_db
SharedStorage
TransportSecurity
Trust Tokens
Trust Tokens-journal
User/globalStorage/
User/History/
User/profiles/
User/sync
User/workspaceStorage/
VideoDecodeStats
WebStorage
