#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Cookie Clicker
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=cjeolmdejkegpoajfkgiffmcmjoolfmb
Icon=chrome-cjeolmdejkegpoajfkgiffmcmjoolfmb-Default
StartupWMClass=crx_cjeolmdejkegpoajfkgiffmcmjoolfmb
OnlyShowIn=Old;
