#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Codex
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --ignore-profile-directory-if-not-exists https://chatgpt.com/codex
Icon=/home/patrick/.config/google-chrome/Default/Web Shortcut Icons/shortcut-e883b9654862ebafdbab115df97a86d9.png
URL=https://chatgpt.com/codex
Comment=Open https://chatgpt.com/codex in a new tab in Google Chrome.
OnlyShowIn=Old;
