[Desktop Entry]
Categories=
Comment=Handy
Exec=/home/patrick/.bin/local/Handy_0.7.6_amd64_7f44616beecfaa9bd61f4360cefbba01_c29642d585631022fe0aea9cf338aa92.AppImage
StartupWMClass=handy
Icon=appimagekit_d4caf9725ad4bbe750f7707243343064_handy
Name=Handy (1)
Terminal=false
Type=Application

TryExec=/home/patrick/.bin/local/Handy_0.7.6_amd64_7f44616beecfaa9bd61f4360cefbba01_c29642d585631022fe0aea9cf338aa92.AppImage
X-AppImage-Old-Icon=handy
X-AppImage-Identifier=d4caf9725ad4bbe750f7707243343064
Actions=AppImageLauncher-Remove-AppImage;
X-AppImageLauncher-Version=3.0.0-beta-2 (git commit 96cb937), built on 2025-10-28 22:31:15 UTC

[Desktop Action AppImageLauncher-Remove-AppImage]
Name=Delete this AppImage
Icon=AppImageLauncher
Exec=/opt/appimagelauncher.AppDir/usr/lib/x86_64-linux-gnu/appimagelauncher/remove "/home/patrick/.bin/local/Handy_0.7.6_amd64_7f44616beecfaa9bd61f4360cefbba01_c29642d585631022fe0aea9cf338aa92.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=Dieses AppImage löschen
Name[en]=Delete this AppImage
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer cette AppImage
Name[it]=Rimuovi questa AppImage
Name[ko]=이 AppImage 삭제
Name[nb_NO]=Slett AppImage
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_BR]=Remover AppImage do sistema
Name[ru]=Удалить AppImage
Name[tr]=Bu AppImage uygulamasını sil
Name[zh_Hans]=删除此 AppImage
