#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Brain.fm App
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=dcllmfmjlkpljanfegjgohmlnfipachj
Icon=chrome-dcllmfmjlkpljanfegjgohmlnfipachj-Default
StartupWMClass=crx_dcllmfmjlkpljanfegjgohmlnfipachj
