# shellcheck shell=bash

# TODO make this go away
# currently the system does not "find" it's own install path
DOTFILES_PATH=github.com/davidsneighbour/dotfiles

# WIP IP address of remote testing server
SYNERGY_MAIN=192.168.1.210

# npm release token and auth token
NPM_TOKEN=00000000-0000-0000-0000-000000000000
NPM_AUTH_TOKEN=npm_xABCDEFGHTIJKLMNOPQRSTUVXYZ

# expires ###
# see https://github.com/settings/tokens
GIT_PERSONAL_TOKEN=ghp_2ABCDEFGHTIJKLMNOPQRSTUVXYZ

# see https://app.nusii.com/settings/integrations/nusii_api
# and https://developer.nusii.com/
NUUSI_API_TOKEN=dABCDEFGHTIJKLMNOPQRSTUVXYZ

export DOTFILES_PATH
export SYNERGY_MAIN
export NPM_TOKEN
export NPM_AUTH_TOKEN
export GIT_PERSONAL_TOKEN
export NUUSI_API_TOKEN
