[submodule "dotbot"]
	path = modules/dotbot
url = git@github.com:anishathalye/dotbot
ignore = dirty
[submodule "dotbot-plugins/crontab-dotbot"]
	path = modules/dotbot-plugins/crontab-dotbot
url = git@github.com:fundor333/crontab-dotbot.git
[submodule "dotbot-aptget"]
	path = modules/dotbot-plugins/dotbot-aptget
url = https://github.com/alegsan/dotbot-aptget.git
[submodule "containers"]
	path = modules/containers
	url = git@github.com:davidsneighbour/dotfiles-containers.git
[submodule "modules/protected"]
	path = modules/protected
	url = git@github.com:davidsneighbour/dotfiles-protected.git
[submodule "modules/ai"]
	path = modules/ai
	url = https://github.com/davidsneighbour/dotfiles-ai
