# Canonical identity for Patrick Kollitsch / David's Neighbour
Patrick Kollitsch <davidsneighbourdev+gh@gmail.com> davidsneighbour <davidsneighbour@users.noreply.github.com>
Patrick Kollitsch <davidsneighbourdev+gh@gmail.com> Patrick Kollitsch <83281+davidsneighbour@users.noreply.github.com>
