# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

palette = "dracula"

format = "$all\n$character"

# Inserts a blank line between shell prompts
add_newline = true

# A continuation prompt that displays two filled-in arrows
continuation_prompt = '➜ '

# Replace the '❯' symbol in the prompt with '➜'
[character]
success_symbol = '[➜](bold green)'

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[nodejs]
format = '[Node $version](bold green) '
version_format = '${raw}'
not_capable_style = 'bold blink red'

[golang]
format = '[Go $version](bold cyan) '
version_format = '${raw}'

[git_branch]
style = "bold purple"

[custom.hugo]
when = '''find . -maxdepth 2 -regextype posix-extended -regex './(hugo|config)\.(toml|ya?ml|json)$|./config/_default$' | grep -q .'''
format = '[Hugo ${output}](bold #c9177e) '
command = "hugo version | sed -E 's/.*v([0-9]+\\.[0-9]+\\.[0-9]+).*/\\1/'"
description = "Hugo version installed and used in the current directory"
os = "linux"

[custom.sudo]
description = "valid sudo timestamp marker"
command = "echo -n '!'"
format = "[$symbol$output]($style) "
style = "bold fg:bright-red"
when = "sudo -vn &>/dev/null"

[custom.git_status]
command = '''
git_status=$(git status --porcelain)
# Untracked or Deleted (unstaged) files - Red
if echo ${git_status} | grep -qe '^?? ' -e '^[MARCDU ]D ' -e '^D[ UM]'; then
    echo -n $'\e[31m●'
fi

# Modified (unstaged) and Renamed files - Yellow
if echo ${git_status} | grep -qe '^[ MARC]M ' -e '^R[ MD] '; then
    echo -n $'\e[33m●'
fi

# Staged files (including Deleted) - Green
if echo ${git_status} | grep -qe '^A[ MDAU] ' -e '^M[ MD] ' -e '^UA' -e '^D '; then
    echo -n $'\e[32m●'
fi
'''
when = 'git rev-parse --is-inside-work-tree >/dev/null 2>&1'
format = '( $output)'

[custom.gh_links]
description = "Clickable GitHub path"
shell   = ["bash", "--noprofile", "--norc", "-c"]
# when    = "true"
command = '''
source "$HOME/github.com/davidsneighbour/dotfiles/configs/starship/github-linker.sh"
if _gh_after_root "$PWD" >/dev/null 2>&1; then
  _gh_prompt_links
else
  exit 1
fi
'''
# keep raw OSC-8 first; add style later
format  = "$output($style)"
style   = "bold cyan"

# Palette definitions
[palettes.dracula]
background = "#282a36"
current_line = "#44475a"
foreground = "#f8f8f2"
comment = "#6272a4"
cyan = "#8be9fd"
green = "#50fa7b"
orange = "#ffb86c"
pink = "#ff79c6"
purple = "#bd93f9"
red = "#ff5555"
yellow = "#f1fa8c"
