[Desktop Entry]
Type=Application
Exec=/usr/bin/conky --config=.conky/conkyrc
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Conky System Monitoring
Name=Conky System Monitoring
Comment[en_US]=Starting Conky
Comment=Starting Conky
