[Desktop Entry]
Version=1.0
Name=Shutter
GenericName=Screenshot Tool
Comment=Capture, edit and share screenshots
Exec=/usr/bin/shutter --min_at_startup
Icon=shutter
Terminal=false
Type=Application
Categories=Utility;Application;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Panel
Hidden=false
