[Desktop Entry]
Type=Application
Exec=/usr/bin/synergys --config ~/.synergy.conf
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Synergy
Name=Synergy
Comment[en_US]=
Comment=
