[Unit]
Description=Restart Devilspie2 after configuration change

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user restart devilspie2.service
