.org.chromium.Chromium.*
Backups
blob_storage
Cache*
Code Cache
Crash Reports
Crashpad
databases
exthost Crash Reports
GPUCache
Local Storage
logs
Service Worker
Session Storage
User/globalStorage
User/sync
User/History
Workspaces
User/workspaceStorage
code.lock
Cookies
Cookies-journal
fileWatcher
languagepacks.json
machineid
Network Persistent State
QuotaManager
QuotaManager-journal
storage.json
TransportSecurity
watcherServiceParcelSharedProcess
