---
################################################################################
# Setup configuration for Dotbot
#
# @see https://github.com/anishathalye/dotbot for more info
################################################################################
- defaults:
    link:
      create: true
      relink: true
      force: true

- clean: ["~"]

- link:
    # Cinnamon
    ~/.config/cinnamon: configs/system/cinnamon/cinnamon
    ~/.config/cinnamon-session: configs/system/cinnamon/cinnamon-session
    ~/.config/cinnamon/backgrounds: configs/wallpapers
