[Desktop Entry]
X-SnapInstanceName=celeste
Name=Celeste
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/celeste_celeste.desktop /snap/bin/celeste --background
GenericName=Folder Sync
Comment=GUI file synchronization client that can connect to virtually any cloud provider
Keywords=backup;cloud;file sync;sharing;syncing;dropbox;nextcloud;owncloud;google drive;webdav;rclone;proton;proton drive;pcloud
Icon=/snap/celeste/36/meta/gui/icon.svg
Type=Application
Categories=FileTools;FileTransfer;GTK;Utility;
StartupNotify=true
Terminal=false
X-GNOME-Autostart-enabled=false
Hidden=true
X-GNOME-Autostart-Delay=60
