[Desktop Entry]
Type=Application
Exec=/usr/bin/transmission-qt -m
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name[en_US]=Transmission
Name=Transmission
Comment[en_US]=Start transmission torrent downloader
Comment=Start transmission torrent downloader
