[Desktop Entry]
Type=Application
Exec=cryptomator
Hidden=true
NoDisplay=true
X-GNOME-Autostart-enabled=false
Name=Cryptomator
Comment=Created with org.cryptomator.linux.autostart.FreedesktopAutoStartService
Icon=
Terminal=false
X-GNOME-Autostart-Delay=60
