[Desktop Entry]
Type=Application
Exec=/usr/bin/env APPIMAGELAUNCHER_DISABLE=TRUE "/home/patrick/.joplin/Joplin.AppImage"  %u
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Joplin
Comment[en_US]=Note taking application
X-GNOME-Autostart-Delay=10
