---
################################################################################
# Setup configuration for Dotbot
#
# @see https://github.com/anishathalye/dotbot for more info
################################################################################
- description: HAL2025 Paperless bindings and scheduled backup cronjob setup.

- plugins:
    - modules/dotbot-plugins/crontab-dotbot/

- defaults:
    link:
      create: true
      relink: true
      force: true

- clean: ["~"]

- link:
    ~/github.com/davidsneighbour/dotfiles/containers/hal2025/paperless/consume: /mnt/storage/Paperless/consume
- crontab:
    - cron: 0 */2 * * *
      command: ${HOME}/github.com/davidsneighbour/dotfiles/containers/hal2025/paperless/backup
