---
################################################################################
# Setup configuration for Dotbot
#
# @see https://github.com/anishathalye/dotbot for more info
################################################################################

- description: One-time workstation bootstrap tasks (packages, runtimes, and base tooling).

- shell:
    -
      description: Setup directories
      command: mkdir -p ~/github.com/davidsneighbour ~/gitlab.com/davidsneighbour ~/.config

    -
      description: Install Homebrew packages
      command: brew install biome git-delta zoxide typos-cli gum yamllint vale lychee python jrnl fastfetch
    -
      description: Install and setup Node and NPM
      command: |
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
        export NVM_DIR="$HOME/.nvm"
        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
        [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
        nvm install v20
        nvm install v22
        nvm install v24
        nvm use v24
    -
      description: Install rclone
      # https://rclone.org/downloads/
      command: |
        sudo -v ; curl https://rclone.org/install.sh | sudo bash
    -
      description: Install Starship (CLI prompt modification)
      command: |
        wget https://starship.rs/install.sh -O install.sh
        sh install.sh --verbose --yes
        rm install.sh
    -
      description: Install Deno
      command: curl -fsSL https://deno.land/install.sh | sh
    -
      description: Install Ollama (only on UNKLE)
      command: |
        if [[ "$(hostname)" == "unkle" ]]; then
            curl -fsSL https://ollama.com/install.sh | sh
            ollama pull llama3.2
            ollama pull gemma3
        fi
    -
      description: Install AnyDesk
      command: |
        if [[ "$(hostname)" == "unkle" ]]; then
          wget -qO - https://keys.anydesk.com/repos/DEB-GPG-KEY | sudo gpg --dearmor -o /usr/share/keyrings/anydesk.gpg
          echo "deb [signed-by=/usr/share/keyrings/anydesk.gpg] http://deb.anydesk.com/ubuntu focal main" | sudo tee /etc/apt/sources.list.d/anydesk.list
          sudo apt update && sudo apt install anydesk
          sudo systemctl disable --now anydesk.service 2>/dev/null || true
        fi
