---
################################################################################
# Setup configuration for Dotbot
#
# @see https://github.com/anishathalye/dotbot for more info
################################################################################
- plugins:
    - modules/dotbot-plugins/crontab-dotbot/

- defaults:
    link:
      create: true
      relink: true
      force: true

- clean: ["~"]

- link:
    ~/.dotfiles: ""
    ~/.bin: "bin"

    # system setup
    ~/.face.icon: configs/system/face.icon
    ~/.face: configs/system/face.icon
    ~/.config/conky: configs/system/conky
    ~/Downloads/Paperless: /mnt/storage/Paperless/consume

    # autostart
    ~/.config/autostart: configs/system/autostart/${HOSTNAME}

    # git setup
    ~/.gitignore: configs/git/global.gitignore
    ~/.gitmessage: configs/git/.gitmessage
    ~/.gitconfig: configs/git/.gitconfig
    ~/.git-templates: configs/git/.git-templates

    # shell tools
    ~/.config/atuin: configs/shell/atuin

    # folders in ~/.local/share
    ~/.local/share/applications: configs/system/share/applications

    # Dracula Theme
    ~/.config/gtk-3.0: configs/theme/gtk-3.0
    ~/.config/gtk-4.0: configs/theme/gtk-4.0
    ~/.themes/Dracula: configs/theme/Dracula
    ~/.config/assets: configs/theme/Dracula/assets
    ~/.config/gtk-4.0/gtk.css: configs/theme/Dracula/gtk-4.0/gtk.css
    ~/.config/gtk-4.0/gtk-dark.css: configs/theme/Dracula/gtk-4.0/gtk-dark.css

    # Tool configs
    ~/.config/fastfetch: configs/system/fastfetch
    ~/.local/share/vale: configs/vale
    ~/.config/vale: configs/vale
    ~/.config/github-label-manager: configs/git/github-label-manager

    # node configs
    ~/.ncurc.js: configs/npm/ncu.cjs

    # qbittorrent
    ~/.config/qBittorrent/watched_folders.json: configs/bittorrent/qbittorrent-watched_folders.json
    ~/.config/qBittorrent/qBittorrent.con: configs/bittorrent/qbittorrent.conf
    ~/.config/qBittorrent/categories.json: configs/bittorrent/qbittorrent-categories.json

    ############################################################################
    # legacy, deprecated, rework
    ############################################################################
    # file links
    ############################################################################
    ~/.bash_logout: filesystem/.bash_logout
    ~/.bash_profile: filesystem/.bash_profile
    ~/.bashrc: filesystem/.bashrc
    # ~/.better-commits.json: filesystem/.better-commits.json
    ~/.cargo/.crates.toml: filesystem/.cargo/.crates.toml
    ~/.cargo/env: filesystem/.cargo/env
    ~/.config/starship.toml: filesystem/.config/starship.toml
    ~/.config/user-dirs.dirs: filesystem/.config/user-dirs.dirs
    ~/.czrc: filesystem/.czrc
    ~/.dir_colors: filesystem/.dir_colors
    ~/.editorconfig: filesystem/.editorconfig
    ~/.fehbg: filesystem/.fehbg
    ~/.fixpackrc: filesystem/.fixpackrc
    ~/.hidden: filesystem/.hidden
    ~/.nvmrc: filesystem/.nvmrc
    ~/.pam_environment: filesystem/.pam_environment
    ~/.profile: filesystem/.profile
    ~/.remarkrc.js: filesystem/.remarkrc.js
    ~/.remarkignore: filesystem/.remarkignore
    ~/.Xresources: filesystem/.Xresources
    ~/.nvm/default-packages: filesystem/.nvm/default-packages
    ##################################################################
    # directory links
    ##################################################################
    ~/.config/BetterDiscord: filesystem/.config/BetterDiscord
    ~/.config/filezilla: filesystem/.config/filezilla
    ~/.config/fontconfig: filesystem/.config/fontconfig
    ~/.config/gh: filesystem/.config/gh
    ~/.config/i3: filesystem/.config/i3
    ~/.config/inkscape: filesystem/.config/inkscape
    ~/.config/lsd: filesystem/.config/lsd
    ~/.config/jrnl: filesystem/.config/jrnl
    ~/.config/neofetch: filesystem/.config/neofetch
    ~/.config/polybar: filesystem/.config/polybar
    ~/.config/qt5ct: filesystem/.config/qt5ct
    ~/.config/rofi: filesystem/.config/rofi
    ~/.config/sublime-merge: filesystem/.config/sublime-merge
    ~/.config/sublime-text: filesystem/.config/sublime-text
    ~/.config/tabtab: filesystem/.config/tabtab
    ~/.config/wlogout: filesystem/.config/wlogout
    ~/.icons: filesystem/.icons
    ~/.logs: logs

# - shell:
#     # create autostart folder connection
#     - ln -f -s ${HOME}/.dotfiles/configs/system/autostart/${HOSTNAME} ${HOME}/.config/autostart

- crontab:
    - cron: 0 0 * * *
      command: ${HOME}/github.com/davidsneighbour/dotfiles/bashrc/helpers/update-npm.sh >> ${HOME}/.logs/cron.log 2>&1
    - cron: 30 */4 * * *
      command: ${HOME}/github.com/davidsneighbour/dotfiles/bashrc/helpers/filespace-discord.sh >> ${HOME}/.logs/cron.log 2>&1
    # - cron: 0 18 * * *
    #   command: /bin/bash -c "cd ${HOME}/github.com/davidsneighbour/dotfiles && keybindingsmanager -e etc/keycombinations.csv" >> ${HOME}/.logs/cron.log 2>&1
    - cron: 55 * * * *
      command: ${HOME}/.bin/cronjobs/keycombinations.sh
    - cron: 0 6,12,18 * * *
      command: ${HOME}/github.com/davidsneighbour/lighthousing/cronjob.sh >> ${HOME}/.logs/cron.log 2>&1
    - cron: "@reboot"
      command: ${HOME}/github.com/davidsneighbour/lighthousing/cronjob.sh >> ${HOME}/.logs/cron.log 2>&1
    - cron: 0 * * * *
      command: ${HOME}/.bin/cronjobs/synch_downloads.sh
    - cron: 5 */6 * * *
      # every sixth hour, at 5 minutes past the hour
      command: ${HOME}/.bin/cronjobs/git_updates.sh --config ${HOME}/.dotfiles/configs/system/repository_updates.toml --verbose >> "$HOME/.logs/cron/repo-update-$(date +\%Y\%m\%d-\%H\%M\%S).log" 2>&1
    - cron: "@reboot"
      command: ${HOME}/.bin/cronjobs/bash-history-backup.sh >> ${HOME}/.logs/cron.log 2>&1
