---
################################################################################
# Setup configuration for Dotbot
#
# @see https://github.com/anishathalye/dotbot for more info
################################################################################
- plugins:
    - modules/dotbot-plugins/crontab-dotbot/

- defaults:
    link:
      create: true
      relink: true
      force: true

- clean: ["~"]

- link:
    ~/.dotfiles: ""
    ~/.bin: "bin"

    # bashrc setup
    ~/.bash_logout: bashrc/.bash_logout
    ~/.bash_profile: bashrc/.bash_profile
    ~/.bashrc: bashrc/.bashrc
    ~/.profile: bashrc/.profile
    ~/.config/starship.toml: configs/system/starship/starship.toml

    # system setup
    ~/.face.icon: configs/system/face.icon
    ~/.face: configs/system/face.icon
    ~/.config/conky: configs/system/conky
    ~/.config/user-dirs.dirs: configs/system/user-dirs.dirs
    ~/Downloads/Paperless: /mnt/storage/Paperless/consume
    ~/.config/polybar: configs/system/polybar
    ~/.config/i3: configs/system/i3
    ~/.logs: logs
    ~/.nvmrc: .nvmrc
    ~/.editorconfig: .editorconfig
    ~/.fixpackrc: .fixpackrc
    ~/.hidden: configs/system/.hidden
    ~/.pam_environment: configs/system/.pam_environment
    ~/.czrc: configs/system/.czrc
    ~/.config/sublime-merge: configs/system/sublime-merge
    ~/.config/sublime-text: configs/system/sublime-text
    ~/.config/wlogout: configs/system/wlogout
    ~/.config/filezilla: configs/system/filezilla
    ~/.config/rofi: configs/system/rofi

    # autostart
    ~/.config/autostart: configs/system/autostart/${HOSTNAME}

    # git setup
    ~/.gitignore: configs/system/git/global.gitignore
    ~/.gitmessage: configs/system/git/.gitmessage
    ~/.gitconfig: configs/system/git/.gitconfig
    ~/.git-templates: configs/system/git/.git-templates

    # folders in ~/.local/share
    ~/.local/share/applications: configs/system/share/applications

    # theme configs
    ~/.icons/DNB-Bibata: configs/theme/DNB-Bibata

    # Tool configs
    ~/.config/fastfetch: configs/system/fastfetch
    ~/.local/share/vale: configs/system/vale
    ~/.config/vale: configs/system/vale
    ~/.config/github-label-manager: configs/system/git/github-label-manager

    # node configs
    ~/.ncurc.js: configs/system/npm/ncu.cjs
    ~/.nvm/default-packages: configs/system/npm/default-packages

    # qbittorrent
    ~/.config/qBittorrent/watched_folders.json: configs/system/bittorrent/qbittorrent-watched_folders.json
    ~/.config/qBittorrent/qBittorrent.con: configs/system/bittorrent/qbittorrent.conf
    ~/.config/qBittorrent/categories.json: configs/system/bittorrent/qbittorrent-categories.json

    # content quality
    ~/.remarkrc.js: configs/content/.remarkrc.js
    ~/.remarkignore: configs/content/.remarkignore

    # fixing emojis in chrome tab names (I know, right?)
    ~/.config/fontconfig/conf.d/01-emoji.conf: configs/system/fontconfig/01-emoji.conf

# - shell:
#     # create autostart folder connection
#     - ln -f -s ${HOME}/.dotfiles/configs/system/autostart/${HOSTNAME} ${HOME}/.config/autostart

- crontab:
    - cron: 0 0 * * *
      command: ${HOME}/github.com/davidsneighbour/dotfiles/bashrc/helpers/update-npm.sh >> "$HOME/.logs/cron/job-$(date +\%Y\%m\%d-\%H\%M\%S).log" 2>&1
    - cron: 30 */4 * * *
      command: ${HOME}/github.com/davidsneighbour/dotfiles/bashrc/helpers/filespace-discord.sh >> "$HOME/.logs/cron/job-$(date +\%Y\%m\%d-\%H\%M\%S).log" 2>&1
    - cron: 0 6,12,18 * * *
      command: ${HOME}/github.com/davidsneighbour/lighthousing/cronjob.sh >> "$HOME/.logs/cron/job-$(date +\%Y\%m\%d-\%H\%M\%S).log" 2>&1
    - cron: "@reboot"
      command: ${HOME}/github.com/davidsneighbour/lighthousing/cronjob.sh >> "$HOME/.logs/cron/job-$(date +\%Y\%m\%d-\%H\%M\%S).log" 2>&1
    - cron: 0 * * * *
      command: ${HOME}/.bin/cronjobs/synch_downloads.sh
    - cron: 5 */6 * * *
      command: ${HOME}/.bin/cronjobs/git_updates.sh --config ${HOME}/.dotfiles/configs/system/repository_updates.toml --verbose >> "$HOME/.logs/cron/repo-update-$(date +\%Y\%m\%d-\%H\%M\%S).log" 2>&1
    - cron: "@reboot"
      command: ${HOME}/.bin/cronjobs/bash-history-backup.sh >> "$HOME/.logs/cron/job-$(date +\%Y\%m\%d-\%H\%M\%S).log" 2>&1
    - cron: 10 * * * *
      command: ${HOME}/.local/bin/msgvault sync >> ${HOME}/.logs/mail/msgvault-cron.log 2>&1
    - cron: "@reboot"
      command: ${HOME}/.local/bin/msgvault sync >> ${HOME}/.logs/mail/msgvault-cron.log 2>&1
