---
################################################################################
# Setup configuration for the protected repository
################################################################################
- defaults:
    link:
      create: true
      relink: true
      force: true

- clean: ["~"]

- link:
    ~/.env: modules/protected/.env
    ~/.gmailctl: modules/gmailctl
    ~/.gnupg: modules/protected/.gnupg
    ~/.npmrc: modules/protected/.npmrc
    ~/.sentryclirc: modules/protected/.sentryclirc
    ~/.fonts: modules/protected/.fonts
    ~/.ssh: modules/protected/.ssh
    ~/.config/Cryptomator: modules/protected/Cryptomator
    ~/.config/transmission: modules/protected/transmission
    ~/.config/filezilla/filezilla.xml: modules/protected/filezilla/filezilla.xml
    ~/.config/filezilla/sitemanager.xml: modules/protected/filezilla/sitemanager.xml
    ~/.config/filezilla/trustedcerts.xml: modules/protected/filezilla/trustedcerts.xml
    ~/.crosspost.env: modules/protected/crosspost.env

- shell:
    -
      description: Fix file rights for keys
      command: |
        chmod 0700 ~/.ssh
        chmod 0600 ~/.ssh/authorized_keys
        chmod 0600 ~/.ssh/id_ed25519
        chmod 0644 ~/.ssh/id_ed25519.pub
        chmod 0600 ~/.ssh/config
        chmod 0700 ~/.ssh/conf.d
        chmod 0600 ~/.ssh/conf.d/*
