---
################################################################################
# Setup configuration for Dotbot
#
# @see https://github.com/anishathalye/dotbot for more info
################################################################################
- defaults:
    link:
      create: true
      relink: true
      force: true

- clean: ["~"]

- shell:
    - curl -fsSL https://ollama.com/install.sh | sh
    - curl -fsSL "https://animations.dev/api/activate-design-engineering?email=pkollitsch%40gmail.com" | bash
    - curl -fsSL "https://animations.dev/api/activate?email=pkollitsch@gmail.com" | bash
