---
################################################################################
# Setup configuration for Dotbot
#
# @see https://github.com/anishathalye/dotbot for more info
################################################################################
- plugins:
    - modules/dotbot-plugins/crontab-dotbot/

- defaults:
    link:
      create: true
      relink: true
      force: true

- clean: ["~"]

- link:
    ~/github.com/davidsneighbour/dotfiles/containers/hal2025/homepage/config: ./modules/protected/containers/homepage
