---
################################################################################
# Setup configuration for the protected repository
################################################################################
- defaults:
    link:
      create: true
      relink: true
      force: true

- clean: ["~"]

- link:
    ~/.env: modules/protected/.env
    ~/.gmailctl: modules/gmailctl
    ~/.gnupg: modules/protected/.gnupg
    ~/.npmrc: modules/protected/.npmrc
    ~/.sentryclirc: modules/protected/.sentryclirc
    ~/.fonts: modules/protected/.fonts
    ~/.ssh: modules/protected/.ssh
    ~/.config/Cryptomator: modules/protected/Cryptomator
    ~/.config/transmission: modules/protected/transmission
    ~/.config/filezilla/filezilla.xml: modules/protected/filezilla/filezilla.xml
    ~/.config/filezilla/sitemanager.xml: modules/protected/filezilla/sitemanager.xml
    ~/.config/filezilla/trustedcerts.xml: modules/protected/filezilla/trustedcerts.xml
    ~/.crosspost.env: modules/protected/crosspost.env
