[Desktop Entry]
Type=Application
Exec=/opt/Signal/signal-desktop --start-in-tray --no-sandbox %U
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=Signal
Name=Signal
Comment[en_US]=Starting signal desktop app
Comment=Starting signal desktop app
