email=patrick@davids-neighbour.com
init.author.email=patrick@davids-neighbour.com
init.author.name=Patrick Kollitsch
init.license=MIT
sign-git-tag=true
fund=false
//registry.npmjs.org/:_authToken=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
