email=patrick@davids-neighbour.com
init.author.email=patrick@davids-neighbour.com
init.author.name=Patrick Kollitsch
init.license=MIT
sign-git-tag=true
fund=false
//registry.npmjs.org/:_authToken=9b1916e0-14ec-4695-b9a3-699acbcb9dac
