
! general
*background: rgb:3c/4c/55
*foreground: rgb:c5/d4/dd

! blacks
*color0: rgb:55/68/73
*color8: rgb:6a/7d/89

! reds
*color1: rgb:df/8c/8c
*color9: rgb:e0/a0/a1

! greens
*color2: rgb:a8/ce/93
*color10: rgb:b4/d4/a6

! yellows
*color3: rgb:da/da/93
*color11: rgb:dc/de/a6

! blues
*color4: rgb:83/af/e5
*color12: rgb:97/bc/e8

! magentas
*color5: rgb:d1/8e/c2
*color13: rgb:d5/a1/cc

! cyans
*color6: rgb:7f/c1/ca
*color14: rgb:94/ca/d2

! whites
*color7: rgb:c5/d4/dd
*color15: rgb:e6/ee/f3
